{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "singleAttributePerLine": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "DEACTIVATED.json",
      "options": {
        "parser": "json-stringify",
        "printWidth": 120
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    },
    {
      "files": ["src/assets/*/lang/**/*.json", "src/assets/*/font/**/*.json"],
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    }
  ]
}